{% extends 'base.html' %}

{% block content %}
  <h3>Forgot password</h3>
  <form method="post" id="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
  var flag = 0;
  $('#form').submit(function(e){
        //

      var email = $('#id_email').val();

      // console.log('ghfd');return false;
      $.ajax({
        url: '/accounts/ajax/validate_email/',
        data: {
          'email': email
        },
        async:false,
        dataType: 'json',
        success: function (data) {

          if (!data.is_taken) {
            alert("User not exists.");
            flag = 1;
          }else {
            flag = 0;
          }
        }
      });

      if (flag) {
        return false;
      }

    });
  </script>
{% endblock %}
