{% extends 'groups/group_base.html'%}
{% block pregroup %}
<div class="">
  <div class="">
    {% if user.is_authenticated %}
      <h2>Welcome Back!
        <a href="{% url 'posts:for_user' username=user.username %}">
          @{{user.username}}
        </a>
      </h2>
    {% endif %}
    <h2>GROUPS</h2>
    <p>Welcome to the groups page!</p>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}">Create new Group</a>
  {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="">
  <div class="">
    {% for group in object_list %}
      <a href="{% url 'groups:single' slug=group.slug%}">
        <h3>{{group.name}}</h3>
        <div class="">
          {{group.description_html|safe}}
          <div class="">
            <span>{{group.members.count}}</span> member{{group.members.count|pluralize}}
          </div>
          <div class="">
            <span>{{group.posts.count}}</span> Posts{{group.posts.count|pluralize}}
          </div>
        </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
